import { memo, type FC } from 'react'

import type { {{pascalCase componentName}}Props } from './types'

const {{pascalCase componentName}}: FC<{{pascalCase componentName}}Props> = memo((props) => {
  return <div>{{pascalCase componentName}}</div>
})

{{pascalCase componentName}}.displayName = 'PlasticineDesign{{pascalCase componentName}}'

export default {{pascalCase componentName}}
