import { memo, useMemo, type FC } from 'react'

import { clsx } from '@plasticine-design/shared'

import { {{constantCase componentName}}_CLASS_NAME_PREFIX } from './constants'
import type { {{pascalCase componentName}}Props } from './types'

const {{pascalCase componentName}}: FC<{{pascalCase componentName}}Props> = memo((props) => {
  const { className: externalClassName } = props

  const className = useMemo(() => clsx({{constantCase componentName}}_CLASS_NAME_PREFIX, externalClassName), [externalClassName])

  return <div className={className}>{{pascalCase componentName}}</div>
})

{{pascalCase componentName}}.displayName = 'PlasticineDesign.{{pascalCase componentName}}'

export default {{pascalCase componentName}}
